/* findme credit: basic slider styles pinched from from w3schools */
body {
  background-color: #222;
  font-family: 'Baloo Tamma 2', cursive;

}

a:visited {

    color:#9de;
}

h1{
  font-size:40pt;
  font-weight:200;
  color: #eee;
  text-align:center;
}

.mode-controls {
  font-size:16pt;
  font-weight:200;
  color: #eee;
  text-align:center;
  margin: 20px;
}

.label {
  margin: 20px;
}

.description {
  display:block;
  clear:both;
  font-size:16pt;
  font-weight:200;
  color: #eee;
  width: 800px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 100px;
  margin-bottom: 200px;
  text-align:center;
}

.swapper-controls {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}


.slider-container{

}

.swap-slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 600px;
  height: 25px; /* Specified height */
  background: #111; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  border-radius: 50px;
  margin-top: 10%;
  float:left;
  -webkit-appearance: slider-vertical; /* WebKit */
}

/* Mouse-over effects */
.swap-slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.swap-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px;
  height: 25px;
  background: #F0CA64;
  cursor: pointer;
  border-radius: 50px;
}

.swap-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #F0CA64;
  cursor: pointer;
  border-radius: 50px;
}

/* The switch - the box around the slider */
/*switch pinched from https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: auto;
  margin-right: auto;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.mode-toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.mode-toggle:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .mode-toggle {
  background-color: #F0CA64;
}

input:focus + .mode-toggle {
  box-shadow: 0 0 1px #F0CA64;
}

input:checked + .mode-toggle:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.mode-toggle.round {
  border-radius: 34px;
}

.mode-toggle.round:before {
  border-radius: 50%;
}


/*thumbnail image representing the two textured states.*/
.preview {
  width: 200px;
  height: 200px;
}

.right {
  float: right;
}

.left {
  float:left;
}

.centre {
  margin:auto;
}

/* hides a thing completely*/
.hidden {
  display:none;
}

/* makes a thing not seen but transitions still work */
.invisible {
  visibility: hidden;
}

.button {
  display:block;
  height:100px;
  width:100px;
  background-color: #F0CA64;
  border-radius: 100px;
  cursor: pointer;
  opacity: 0.6; /* Fully shown on mouse-over */
  margin-top:20px;
}

.button span{
  display:block;
  color:#111;
  line-height:110px;
  font-size:24pt;
  font-weight:500;
  text-align:center;
}

  .button:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }

.fade-in {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}



/* Sketchfab viewer some size or other*/
#api-frame {
    width:800px;
    height:600px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
